<div class="mdl-cell mdl-cell--12-col">
Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br>
Repudiandae, dolorum! Ipsam odit reprehenderit, temporibus earum.<br>
Corrupti cumque soluta rerum non modi nisi earum vel.<br>
Laborum illum labore autem ea. Eaque?
</div>
