<div class="mdl-cell mdl-cell--12-col">
  <form id="userForm">
    <div class="mdl-cell mdl-cell--12-col">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="firstname" name="firstname" value="{{<~>user.firstname}}" required>
        <label class="mdl-textfield__label" for="firstname">Nombres</label>
        <span class="mdl-textfield__error">¡Nombres incorrectos!</span>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--12-col">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="lastname" name="lastname" value="{{<~>user.lastname}}" required>
        <label class="mdl-textfield__label" for="lastname">Apellidos</label>
        <span class="mdl-textfield__error">¡Apellidos incorrectos!</span>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--12-col">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="email" id="email" name="email" value="{{<~>user.email}}" required>
        <label class="mdl-textfield__label" for="email">Correo</label>
        <span class="mdl-textfield__error">¡No es una dirección de correo valida!</span>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--12-col">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit">Actualizar información</button>
      <button class="mdl-button mdl-js-button" id="btnDeleteUser">Eliminar el usuario</button>
    </div>
  </form>
  <dialog class="mdl-dialog" id="confirmDeleteUser">
    <span class="mdl-dialog__title">¿Estás seguro?</span>
    <div class="mdl-dialog__content">
      <p>
        Si eliminas el usuario no habra vuelta atras.
      </p>
    </div>
    <div class="mdl-dialog__actions">
      <button type="button" class="mdl-button js-doit">Hazlo</button>
      <button type="button" class="mdl-button js-stop">Detente</button>
    </div>
  </dialog>
</div>
