<div class="mdl-cell mdl-cell--12-col">
  <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
    <thead>
      <tr>
        <th>Id</th>
        <th class="mdl-data-table__cell--non-numeric">Nombres</th>
        <th class="mdl-data-table__cell--non-numeric">Apellidos</th>
        <th class="mdl-data-table__cell--non-numeric">Correo</th>
      </tr>
    </thead>
    <tbody>
      <tr repeat.each={{users}} repeat.as="user">
        <td>
          <a href="/user/{{user.id}}" data-navigo>{{user.id}}</a>
        </td>
        <td class="mdl-data-table__cell--non-numeric">{{user.firstname}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{user.lastname}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{user.email}}</td>
      </tr>
    </tbody>
  </table>
  <!-- Colored raised button -->
  <a href="/user/new" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" data-navigo>Agregar usuario</a>
</div>
