<div class="mdl-cell mdl-cell--12-col">
  <form id="userForm">
    <div class="mdl-cell mdl-cell--12-col">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="firstname" name="firstname" required>
        <label class="mdl-textfield__label" for="firstname">Nombres</label>
        <span class="mdl-textfield__error">¡Nombres incorrectos!</span>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--12-col">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="lastname" name="lastname" required>
        <label class="mdl-textfield__label" for="lastname">Apellidos</label>
        <span class="mdl-textfield__error">¡Apellidos incorrectos!</span>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--12-col">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="email" id="email" name="email" required>
        <label class="mdl-textfield__label" for="email">Correo</label>
        <span class="mdl-textfield__error">¡No es una dirección de correo valida!</span>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--12-col">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="password" id="password" name="password" required>
        <label class="mdl-textfield__label" for="password">Contraseña</label>
        <span class="mdl-textfield__error">¡Contraseña incorrecta!</span>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--12-col">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit">Crear nuevo usuario</button>
    </div>
  </form>
</div>
