<div class="mdl-cell mdl-cell--4-col">Nombres</div>
<div class="mdl-cell mdl-cell--8-col">{{user.firstname}}</div>
<div class="mdl-cell mdl-cell--4-col">Apellidos</div>
<div class="mdl-cell mdl-cell--8-col">{{user.lastname}}</div>
<div class="mdl-cell mdl-cell--4-col">Correo</div>
<div class="mdl-cell mdl-cell--8-col">{{user.email}}</div>
<div class="mdl-cell mdl-cell--12-col">
  <a href="/user" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" data-navigo>Lista de usuarios</a>
  <a href="/user/{{user.id}}/edit" class="mdl-button mdl-js-button" data-navigo>Editar usuario</a>
</div>
